.container {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
}

.navbar {
  position: fixed;
  height: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 1%;
  width: 100%;
  background: rgb(22, 22, 22);

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

a {
  font-family: "Halva";
  font-size: 1.2vw;
  margin-top: 0.45%;
  margin-bottom: 0.45%;
  text-decoration: none;
  color: #39ff14;
  cursor: pointer;
  transition: 425ms;
  -webkit-transition: 425ms;
  -moz-transition: 425ms;
  -ms-transition: 425ms;
  -o-transition: 425ms;
  /* margin-right: 13.5px; */
}

a:hover {
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
}
