.container {
  position: fixed;
  width: 100%;
}

.navbar {
  margin-top: 3%;
  margin-bottom: 0;
  position: absolute;
  height: 50px;
  align-items: center;
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: space-around;
}

a {
  font-family: "Halva";
  font-size: 1.2vw;
  margin-top: 0.45%;
  margin-bottom: 0.45%;
  text-decoration: none;
  color: #39ff14;
  background-color: black;
  cursor: pointer;
  transition: 425ms;
  -webkit-transition: 425ms;
  -moz-transition: 425ms;
  -ms-transition: 425ms;
  -o-transition: 425ms;
  margin-right: 13.5px;
}

a:hover {
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
}
