.gamePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 7%;
}

button.invisButton {
  background-color: rgba(119, 119, 119, 0.007);
  border: none;
  display: flex;
  width: 100%;
  margin-top: 0;
  padding: 0;
  box-shadow: none;
}

button.invisButton:hover {
  background-color: rgba(119, 119, 119, 0.007);
  border: none;
  display: flex;
  width: 100%;
  margin-top: 0;
  padding: 0;
  box-shadow: none;
}

.gridContain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  margin-top: 7%;
  margin-bottom: 7%;
  background: rgb(6, 41, 0);
  background: linear-gradient(
    0deg,
    rgba(16, 105, 0, 0.24) 1%,
    rgba(138, 138, 138, 0.5494572829131652) 100%
  );
  width: fit-content;
  color: white;
  -webkit-box-shadow: 0px 8px 18px 6px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 8px 18px 6px rgba(0, 0, 0, 0.48);
  /* border: 3px solid violet; */
}

input {
  width: 5.7vw;
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 1.2vw;
  font-size: 1vw;
  color: rgb(210, 56, 213);
  font-family: "Azonix";
  font-weight: 700;
  background: black;
  /* border: 2px solid hotpink; */
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputButton[type="submit" i] {
  appearance: none;
  all: unset;
  background-color: #39ff14;
  width: 10%;
  transition: all 0.5s;
  cursor: pointer;
  color: #39ff14;
  margin-top: 5%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 425ms;
  -webkit-transition: 425ms;
  -moz-transition: 425ms;
  -ms-transition: 425ms;
  -o-transition: 425ms;
  margin-right: 13.5px;
}

.inputButton:hover {
  background-color: #37ff14d3;
  color: rgba(255, 255, 255, 0);
  box-shadow: 0px 4px 21px 5px rgba(0, 0, 0, 0.89);
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
}

.inputRow {
  /* border: 3px solid red; */
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

.buttonCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  padding: 2%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.651);
  /* border: 2px solid blue; */
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* border: 4px solid aqua; */
  width: auto;
  height: 100%;
  margin-right: 2%;
}

.count {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  color: #d238d5ff;
  font-family: "AirStrike";
  font-size: 2.6vw;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 3%;
  /* border: 2px solid cornflowerblue; */
}

h1 {
  font-size: 1.2vw;
}

p {
  font-size: 1.1vw;
}

button {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: 1.2vw;
  padding: 2%;
  width: 31%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
  color: #39ff14;
  background-color: rgba(0, 0, 0, 0.699);
  box-shadow: 0px 4px 21px 5px rgba(0, 0, 0, 0.63);
  border: 2px solid #37ff1496;
  font-family: "Azonix";
}

button:hover {
  background-color: #37ff14d3;
  color: rgb(0, 0, 0);
  border: 4px solid rgb(0, 0, 0);
  box-shadow: 0px 4px 21px 5px rgba(0, 0, 0, 0.63);
}

.buttonRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 3%;
  /* border: 2px solid green; */
  padding: 0%;
  width: auto;
  height: 100%;
}

.gridCont {
  position: relative;
  margin: 0;
  padding: 1%;
  width: auto;
  /* border: 4px solid burlywood; */
}

.masterFormSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
  font-family: "Azonix";
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 5%;
  font-size: 0.9vw;
  /* border: 2px dashed darkolivegreen; */
  width: 100%;
}

.tag {
  margin-top: 0;
  font-family: "Azonix";
  color: white;
  font-size: 0.7vw;
  border: none;
}

label {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  padding-bottom: 1%;
}
