@font-face {
  font-family: "ENDLESSBUMMER";
  src: local("ENDLESSBUMMER"),
    url(./Fonts/ENDLESSBUMMER-Regular.otf) format("opentype");
}

html {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
